body {
  background-image:linear-gradient(rgba(20,20,20,0.69),rgba(20,20,20,0.69)),url(../img/1.jpg); 
  display: flex;
  color: #fff;
  flex-direction: column;
  align-items: center;

  justify-content: center;
  padding-top: 50px;
  background-position: center;
  background-attachment: fixed;
    background-position: center;
  background-repeat: no-repeat;
    background-size: cover;
}

.hakdog{
  background-color:rgba(41,41,41,0.89);
  border:3px solid rgb(255,163,26);
  text-align: center;
  border-radius: 20px;
  min-width:300px;
  color:rgb(255,163,26);
  margin-top: 30px;
  padding: 10px;
  font-weight: bold;
  font-size: 20px;
}

.hakdog:hover{
  background-color:rgb(255,163,26);
  color:#FFF;
  text-decoration: none;
}

@media(max-width: 820px){

}